// Media-query break points
$media-query-xs: 575px;
$media-query-sm: 576px;
$media-query-md: 720px;
$media-query-lg: 992px;
$media-query-xl: 1200px;

// Container max widths
$container-xs-max-width: 100%;
$container-sm-max-width: 540px;
$container-md-max-width: 720px;
$container-lg-max-width: 960px;
$container-xl-max-width: 1140px;

// Container paddings
$container-xl-padding: 30px;

// Brand colors
$black: #000000;
$green: #23e7d8;
$purple: #7d52f8;
$purple-alt: #a183fa;
$purple-light: #d9cdfd;
$purple-dark: #1c1777;
